body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.hidden, .disabled {
    display: none !important;
}
.enabled {
    display: block;
    margin: 0 auto;
}
.svg-grid {
    height: auto;
    width: 75vw;
    padding-top: 10px;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: solid 5px black; 
    border-radius: 15px;
}
/* ZOOM-IN DIV*/
/* SVG 3 */
.grid_base {
  position: relative;
  display: grid;
  grid-template-rows: repeat(64, 4px 1fr);
  grid-template-columns: repeat(64, 4px 1fr);
  border: 15px solid black;
  border-radius: 50%;
  height: 280.5px; 
  width: 280.5px; 
  overflow: hidden;
}
.treeTrunk {
    position: relative;
    height: 300px;
    width: 150px;
    background: -webkit-linear-gradient(rgb(60, 82, 0), rgb(158, 123, 16));
    grid-column: 37;
    grid-row: 0;
    justify-content: center;
}
/* Sapflow Animation Appears */
.sapflow {
    position: relative; 
    z-index: 5;
    height: 280px;
    width: 70px;
    grid-column: 54;
    grid-row:1;
    background: -webkit-linear-gradient(rgb(206, 153, 8), rgb(242, 255, 3));
}
.sapflow-grid {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(10, 4px 1fr);
    grid-template-columns: repeat(11, 4px 1fr);
}
.sensor1, .sensor2 {
    margin: 0 auto;
    height: 50px;
    width: 50px; 
    border-radius: 50%;
    background-color: black;
}
.heater {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}
.stroke-1, .stroke-2, .stroke-3 {
    height:10px;
    width: 77px;
    border: black 2px solid;
    background-color: black;
    border-radius: 15px;
}
.pad-1, .pad-2 {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
}
.heater-pad {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    background-color: rgb(201, 46, 46);
}
.gnd {
    position: relative;
    height: 200px;
    width: 500px;
    background: -webkit-linear-gradient(rgb(25, 126, 7), rgb(2, 140, 73));
}
/* Positioning  */
.sensor1, .sensor2, .heater, .stroke-1, .stroke-2,
.stroke-3, .pad-1, .pad-2, .heater-pad {
    position: absolute;
    z-index: 15; 
}
.sensor1 {
    grid-column: 4;
    grid-row: 3;
}
.heater {
    grid-column: 4;
    align-self: center;
}
.sensor2 {
    grid-column: 4;
    grid-row: 15;
}
.sensor-pad-grid {
    grid-row: 1;
    grid-column: 54;
    position: relative;
    height: 280px;
    width: 70px;
    display: grid;
    grid-template-rows: repeat(28, 1.25px 1fr);
    grid-template-columns: repeat(11, 4px 1fr);
}
.pad-1 {
    grid-row: 10;
    grid-column: 8;
}
.heater-pad {
    grid-column: 8;
    align-self: center;
}
.pad-2 {
    grid-row: 34;
    grid-column: 8;
    align-self: center;
}
.stroke-grid {
    grid-row: 1;
    grid-column: 54;
    position: relative;
    height: 280px;
    width: 70px;
    display: grid;
    grid-template-rows: repeat(28, 4.75px 0.5fr);
    grid-template-columns: repeat(11, 4px 1fr);
}
.stroke-1 {
 grid-row: 10;
 grid-column: 17;
}
.stroke-2 {
grid-row: 27;
grid-column: 17;
align-items: center;
} 
.stroke-3 {
    grid-row: 44;
    grid-column: 17;
}
.arrow-graph {
    height: 230px;
    width: max-content; 
} 
.arrow-sapflow {
    position: absolute;
    bottom: 0;
    left: 30%;
} 
.flex-four-div {
   display: flex;
   align-items: center; 
}
/*  */ 
.text-pos-1 {
    position: absolute;
    /* left: 395px; */
    right: 300px;
    top: 300px;
    width: max-content;
    height: max-content;
}
.text-pos-2 {
    position: absolute;
    /* left: 395px; */
    right: 190px;
    top: 300px;
    width: 300px;
    height: max-content;
}
.text-pos-3_a {
    position: absolute;
    top: 300px;
    width: 300px;
    height: max-content;
    right: 134px;
}
.text-pos-3_b {
    position: absolute;
    top: 300px;
    width: 300px;
    height: max-content;
    right: 134px;
}
.text-pos-3_c {
    position: absolute;
    top: 300px;
    width: 300px;
    height: max-content;
    right: 134px;
}
.text-pos-4 {
    margin: 0 auto;
    width: max-content;
    padding-top: 10px;
}
.symbol_text_stack {
    display: grid;
    justify-content: center;
}

